# Logs and databases #
######################
examples/models/**/log

# Builds #
##########
dist/
build/
.eggs/
snntoolbox.egg-info/
*.pyc
__pycache__

# Datasets #
############
.cache/
.idea/
.tox/

# OSX index file

# Models #
##########
/examples/models/vgg16/64.27_85.59.h5
/examples/models/**/*_INI*
/examples/models/**/*_parsed*
/examples/models/lenet5/keras/MegaSim_98.96/

/scripts/scotopic
