# Logs and databases #
######################
*.log

# Builds #
##########
dist/*
build/*
.eggs/
snntoolbox.egg-info/
.pyc

# Datasets #
############
.cache/
.idea/
.tox/
docs/build/html/.doctrees/
examples/dataset/
examples/log/
snntoolbox/gui/console_starter.py

# OSX index file
.DS_Store
