# Requirements for SNN toolbox #
################################

numpy
scipy
matplotlib
Theano
future
neo
lazyarray
sklearn
sympy
sphinx
pyNN
keras

# You may need to install 'freetype' (including 'libpng') on system-level
# to be able to install matplotlib:
# sudo apt-get install libfreetype6-dev libxft-dev
