# Requirements for SNN toolbox #
################################

numpy
scipy
matplotlib
future
neo
lazyarray
sympy
pyNN
keras

# You may need to install 'freetype' (including 'libpng') manually before running 'pip install'.
